<!-- Page heading -->
<h1 class="mb-4">All Products</h1>

<!-- Masonry layout container -->
<!-- This wraps all product cards in a Pinterest-style column layout using CSS -->
<div class="product-masonry">
  <% @products.each do |product| %>
    <!-- Render each product using the _product_card.html.erb partial -->
    <%= render partial: "product_card", locals: { product: product } %>
  <% end %>
</div>
